.productsMain {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.maindiv {
  margin: 10px;
}
.parentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 325px) {
  .productsMain {
    margin-left: 20px;
    margin-right: 20px;
  }
}
