.SignUpContainer {
  height: 100vh;
}

.Logo {
  width: 250px;
}

.row {
  display: flex;
  width: 100%;
}

.Content > div {
  flex: 1;
}
.Content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RegisterationCard {
  width: 60vw;
  padding: 50px 20px 10px 50px;
}

.Heading {
  font-size: xx-large;
  font-weight: 500;
  align-items: left;
}

.SignUpButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #dddd !important;
  opacity: 1 !important;
}

.bottomtext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bottomtext2 {
  display: flex;
}

.SignUpFooter {
  position: absolute;
  bottom: 1px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.SignUpFooter > div {
  margin: 20px;
}

@media screen and (max-width: 430px) {
  .Logo {
    width: 250px;
  }
  .Heading {
    font-size: large;
    font-weight: 500;
    align-items: left;
  }
  .InputField {
    height: 30px;
  }
  .RegisterationCard {
    width: 80vw;
    padding: 20px 20px 10px 30px;
  }
  .SignUpFooter > div {
    color: white;
    font-weight: 500;
  }
  .InputField > div {
    padding: 0px 0px;
  }

  .gqJkBJ {
    background-size: cover !important;
  }
}

@media screen and (max-width: 380px) {
  .myCard {
    width: 10rem;
  }
}
@media screen and (max-width: 325px) {
  .myCard {
    width: 8rem;
  }
  .ImageDiv > img {
    width: 100px;
  }
}
