.categoriesMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.maindiv {
  margin: 10px;
}
.parentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CnPHeading {
  text-align: center;
}
.CnPCaption {
  text-align: center;
  color: #7f8185;
  font-size: 21px;
  /* font-weight: 5; */
  white-space: nowrap;
  text-align: center;
}
.roundedBtn {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0 5px;
  padding: 0;
  border: 1px solid #dddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #dddd;
  background: white;
  transition: all 0.15s;
}

.roundedBtn:focus,
.roundedBtn:hover {
  background-color: #cc0011;
}

.Header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .Caption {
    display: none;
  }
}
