.mytopbar {
  height: 80px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding-left: 2em;
  padding-right: 2em; */
}

.FlexBox-SA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Img {
  height: 80px;
}
.FlexColumn {
  display: flex;
  /* flex-direction: column; */
}

.searchButton {
  border-radius: 0px 55px 50px 0px;
  background-color: #cc0011;
  width: 60px;
  height: 40px;
  border: none;
  color: white;
}

.search {
  display: flex;
  flex-grow: 1;
  /* margin-left: 30px; */
}
.search > input {
  padding: 0 10px 0 29px;
  transition: color 0.15s;
  outline: none;
}

.searchBar {
  width: 450px;
  height: 40px;
  border: 1px solid #cdcdcd;
}

.CategoryBtn > button {
  border-radius: 50px 0px 0px 50px;
  background-color: white;
  color: #000;
  border: 1px solid #cdcdcd;
  height: 40px;
  width: 150px;
}

.Options {
  /* margin: 20px; */
  border-right: 2px groove;
}
.OptionMain {
  /* margin: 20px; */
}

.Options > div > span {
  font-weight: bold;
}

.Options > div {
  /* margin: 5px; */
}

.offcanvas-menu {
  background-color: #51cf29;
}

@media screen and (max-width: 1140px) {
  .mobile-view {
    display: none;
  }
  .searchButton {
    color: #cc0011;
    width: 60px;
    height: 35px;
    border: none;
    background-color: white;
  }
  img {
    width: 150px;
  }
  .mytopbar,
  .Img {
    height: 50px;
    /* padding: 10px; */
  }
}
@media screen and (min-width: 480px) {
  .mobile-view-slider {
    display: none;
  }
}
