.myimg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.maindiv {
  margin: 10px;
}
.parentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn {
  height: calc(1.875rem + 2px);
  padding: 0.375rem 1rem;
  border-radius: 30px;
  font-weight: 500;
  border-color: #cc0001;
  background: #cc0001;
  color: #fff;
  fill: #fff;
}
