.seller-profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
}

.seller-profile-button {
  display: flex;
  margin: 15px 5px;
  justify-content: flex-end;
}

@media screen and (max-width: 430px) {
  .seller-profile-input {
    width: 70vw;
  }
  .seller-profile-card {
    margin: 5px;
  }
}

@media screen and (max-width: 320px) {
  .seller-profile-input {
    width: 65vw;
  }
  .seller-profile-card {
    margin: 5px;
  }
  .seller-profile-content {
    width: 75vw;
  }
}
