.Imagemain {
  height: 320px;
  width: 100%;
}
.carousel {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 320px;
  /* background-image: url(../../common/front-image.png); */
}

.rec-pagination {
  display: block;
}
.content {
  /* width: auto; */
  height: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.FirstLine {
  animation: firstline 1s;
  font-size: 35px;
  color: white;
  transition: all 1s 0.2s;
  text-align: center;
}

@keyframes firstline {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.SecondLine {
  animation: secondline 1s;
  font-size: 19px;
  color: white;
  text-align: center;
}

@keyframes secondline {
  0% {
    padding-top: 10px;
    opacity: 0;
  }
  50% {
    top: 150px;
    opacity: 0.5;
  }
  100% {
    top: 0px;
  }
}

.FirstLine > b {
  color: #cc0011;
}

.shopNow {
  animation: Button 1s;
  background-color: #cc0011;
  border-radius: 20px 20px 20px 20px;
  width: 160px;
  color: white;
  font-size: 24px;
}
@keyframes Button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    top: 0px;
  }
}

.shopNow:hover {
  background-color: #060608;
}

.SelectionButton {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
}

.buttonBg {
  width: 70px;
  background: #ffff;
  padding: 5px;
  border-radius: 9px;
  font-size: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.buttonBgonSelect {
  background-color: #cc0011;
}

@media screen and (max-width: 767px) {
  .FirstLine {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
  .SecondLine {
    font-size: 14px;
  }
  .content,
  .main {
    height: 325px;
  }
  .content {
    padding-top: 50px;
  }
}
