.main {
  height: 400px;
}
.carousel {
  /* background-image: url(../../common/front-image.png); */
}

.content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FirstLine {
  font-size: 35px;
  color: white;
  transition: all 1s 0.2s;
}
.SecondLine {
  transition: all 0.8s 0.5s;
  font-size: 19px;
  color: white;
  text-align: center;
}

.FirstLine > b {
  color: #cc0011;
}

.shopNow {
  background-color: #cc0011;
  border-radius: 20px 20px 20px 20px;
  width: 175px;
  color: white;
  font-size: 24px;
}

.SelectionButton {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
}

.buttonBg {
  width: auto;
  /* top: 16px; */
  position: absolute;
  background: #ffff;
  /* padding: 4px; */
  border-radius: 9px;
  font-size: 0;
  list-style: none;
  /* margin: 0; */
}

.SelectionButton :focus {
  background-color: #cc0011;
}
