.ImageDiv {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.myCard {
  width: 13rem;
  display: flex;
  align-items: center;
}

.smallcard-image {
  width: 100%;
  object-fit: contain;
}
.smallcard-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardText {
  text-align: center;
}
.CardText > p {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  color: #cc0011;
}

@media screen and (max-width: 430px) {
  .myCard {
    width: 11rem;
  }
}
@media screen and (max-width: 380px) {
  .myCard {
    width: 10rem;
  }
}
@media screen and (max-width: 325px) {
  .myCard {
    width: 8rem;
  }
  .ImageDiv > img {
    width: 100px;
  }
}
