.category-main {
  flex: 1;
}
.category-content {
  min-height: 80vh;
  margin: 10px 65px 10px 65px;
}

.category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-row > span {
  font-size: 18px;
}

.category-hr {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.category-products-row {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .category-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .category-content {
    margin: 20px 35px 20px 40px;
  }
}
