::-webkit-scrollbar-thumb {
  background-color: #cc0011;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

.rec-arrow,
.rec > .rec-pagination {
  display: none;
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: #060608;
}

img {
  width: 150px;
}
