.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexBox-SA {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.FlexBox-SB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QCard {
  background-color: rgb(238, 238, 238);
  width: 20rem;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.Options {
  padding: 10px 10px 10px 10px;
}

.Question {
  font-size: x-large;
  font-weight: bold;
  margin: auto;
}

.QuestionHeading {
  font-size: xx-large;
  color: red;
  margin: auto;
}

/* .myButtons {
  &-black {
    background-color: black;
  }

  &-yellow {
    background-color: yellow;
  }
} */
